.body {
    height: 750px;
    margin: 0;
    padding: 0;
}
.container1{
    padding: 2px;
    margin: 50px auto;
    width: 40%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height:35vh;
    background-color: #212529;
    font-size:1.2rem;
}

.buttonAdelante{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.text{
    color: rosybrown;
    margin: 5px auto;
}

.text1{
    color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-radius: 90px;
}

@media screen and (max-width: 600px) {

    .separator {
        display: none !important;
    }
    .text{
        font-size:12px;
    }
    .text1{
        font-size: 12px;
    }
    .image1{
        height: 5vh;
    }
}

@media (prefers-reduced-motion: no-preference) {
.image2 {
    padding: 0;
    height: 10vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 12s linear;
}
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}