h1,h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

span{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px;
}

.group{
    background: rgb(10, 10, 10);
    width: 190px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 90px;
    border-radius: 15px;
}

input,select {
    background: none;
    border: 0;
    color: #fff;
    background-color: rgb(10, 10, 10);
    border-radius: 15px;
}

input {
    padding-left: 10px;
}
select {
    padding: 15px;
}

.zona-icono-intercambio {
    margin: 0px;
    padding: 0px !important;
    width:auto !important;
    place-self: center;
}

.boton {
    transform: rotate(90deg)
}
@media (prefers-reduced-motion: no-preference) {
    .img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 10%;
        height: 10vmin;
        pointer-events: none;
        animation: App-logo-spin infinite 3s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}