.body {
    height: 720px;
    min-width: 300px;
}

span {
    color: black;
}

.container{
    width: 90% !important;
    margin: 10px;
}

.grid{
    margin: 30px;
    padding: 20px;
    width: 97%;
    color: rgb(34, 31, 31);
    background-color: #fff;
    border-color: solid black;
    border-radius:15px;
    font-size:14px;
}

.money { 
    display: flex;
    align-items: center;
    justify-content: center
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration:none;
    color: rgb(34, 31, 31);
}

.col-content-money{
    text-align: center;
    border-radius:15px;
    background-color: #fff;
}

.col-money {
    height: 130px;
    margin: 20px;
    padding: 5px;
    color: rgb(34, 31, 31);
    background-color: #fff;
    border-color: solid black;
    border-radius:15px;
}
.col-money span {
    font-size: 12px;
}

.imgLogo{
    width: 7vh;
    border-radius:90Px;
}
@media screen and (min-width: 680px) {

    .container{
        width: 45% !important;
        margin: 45px;
    }

    .col-money {
        margin-top: 30px!important;
        font-size: 18px;
    }
}